<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
      <typeAlias type="com.hk.shop.vo.MemberVO" alias="MemberVO" />
      <typeAlias type="com.hk.shop.vo.DeliveryVO" alias="DeliveryVO" />
      <typeAlias type="com.hk.shop.vo.OrderListVO" alias="OrderListVO" />
      <typeAlias type="com.hk.shop.vo.ProductVO" alias="ProductVO" />
      <typeAlias type="com.hk.shop.vo.ReviewVO" alias="ReviewVO" />
      <typeAlias type="com.hk.shop.vo.AskVO" alias="AskVO" />
      <typeAlias type="com.hk.shop.vo.FAQVO" alias="FAQVO" />
      <typeAlias type="com.hk.shop.vo.CartVO" alias="CartVO" />
      <typeAlias type="com.hk.shop.vo.EventVO" alias="EventVO" />
      <typeAlias type="com.hk.shop.vo.FooterVO" alias="FooterVO" />
      <typeAlias type="com.hk.shop.vo.OptionVO" alias="OptionVO" />
      <typeAlias type="com.hk.shop.vo.SerchVO" alias="SerchVO" />
    </typeAliases>
</configuration>